@font-face {
    font-family: sfprom;
    src: url(./fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'sfprom';
}

form{
    width: 340px;
    border: 2px solid black;
    text-align: center;
}

.form-heading{
    font-size: 20px;
    margin-bottom: 20px;
}

input[type=submit]{
    width: 200px;
    height: 40px;

    font-size: 16px;
    
    margin-top: 20px;
}

input[type=submit]:hover{

}

label{
    margin-top: 10px;
}

input[type=email]{
    width: 80%;

    margin-bottom: 10px;
}

input[type=password]{
    width: 80%;

    margin-bottom: 10px;
}